body {
  font-family: Arial, sans-serif;
  background: url('img/ChatGPT Image 4 nov 2025, 11_00_05 p.m..png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.contenedor {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 700px;
  margin-top: 40px;
}

input {
  padding: 10px;
  width: 90%;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 700px;
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
}

.escena {
  position: relative;
  width: 400px;
  height: 250px;
  margin-top: 40px;
}




.animacion-megamix {
  position: absolute;    
  top: 20px;              
  right: 20px;            
  text-align: right;
  z-index: 10;            
}

.animacion-megamix img {
  width: 280px;            
  border-radius: 50px;
}


@media (max-width: 600px) {
  .animacion-camion img,
  .escena {
    width: 200px;
    right: 10px;
    top: 10px;
  }
}
